@use "reset";

$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: #4990ed;
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	color: $very-dark-gray;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

main {
	padding-top: 20px;
	height: 100vh;
	display: grid;
	grid-template-columns: max(5%, 40px) 1fr max(5%, 40px);
	grid-template-rows: max-content max-content auto max-content max-content;
	row-gap: 20px;
	justify-items: center;

	> h1 {
		grid-column: 2 / 3;
		grid-row: 1/2;
		color: white;
		font-size: 1.5rem;
	}

	form {
		grid-column: 2 / 3;
		grid-row: 2/3;
		border-radius: 0.6rem;
		overflow: hidden;
		white-space: nowrap;
		width: 100%;
		input {
			border: 0;
			height: 3rem;

			&[type="text"] {
				padding: 0 1.5rem;
				width: calc(100% - 3rem);
			}

			&[type="submit"] {
				aspect-ratio: 1;
				vertical-align: top;
				color: white;
				background-color: $very-dark-gray;
				font-weight: 700;
			}
		}
	}

	.info-box {
		grid-column: 2 / 3;
		grid-row: 4/6;
		z-index: 2;
		border-radius: 15px;
		background-color: white;
		// height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1rem;
		padding: 1.5rem;

		h2 {
			font-size: 0.75rem;
			font-weight: 700;
			color: $dark-gray;
			margin-bottom: 0.3rem;
			letter-spacing: 0.1rem;
		}

		p {
			font-weight: 700;
		}
	}

	iframe {
		grid-column: 1/4;
		grid-row: 3/5;
		width: 100%;
		height: 100%;
		border: 0;
		line-height: 0.2rem;
	}
}
